<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ecommerce.mapper.CategoryMapper">
    <select id="findAll" resultType="com.example.ecommerce.model.ProductCategory">
        select * from product_category order by sort_order, id
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into product_category(parent_id, name, sort_order) values(#{parentId}, #{name}, #{sortOrder})
    </insert>
    <update id="update">update product_category set parent_id=#{parentId}, name=#{name}, sort_order=#{sortOrder} where id=#{id}</update>
    <delete id="delete">delete from product_category where id=#{id}</delete>
</mapper>
